body {
    font-family: Arial, sans-serif;
    background-color: #dedfe4;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    height: 100%;
    width: 100%;
    margin: auto;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    height: 100px; /* Adjust this height as needed */
    width: 100%; /* This will make sure it takes the full width */
}
.button {
    background-color: #f6bf45;
    border: none;
    color: black;
    padding: 25px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #c99d3a;
}
.main {
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed*/
    padding: 0; /* Add some padding if needed */
    /* Other styles as needed */
    /*background-color: green;*/
}
.dateInputButton{
    margin: 5px;
}
.saveDateButton{
    margin: 5px;
}